@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");

body {
    margin: 0 auto;
    font-family: "Cairo", sans-serif;
}

.footer-container {
    background-color: #0d0d0e;
    width: 100%;
    min-height: 340px;
}

.footer-content {
    padding: 40px;
}

.footer-menu-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.footer-menu-li {
    color: white;
    list-style-type: none;
    cursor: pointer;
}

.footer-right {
    display: flex;
    justify-content: flex-end;
}

.footer-right-content {
    margin: 40px 0 0 0;
}

.footer-left-content {
    display: flex;
    margin: 40px 0 40px 0;
}

.footer-left-title {
    margin: 0;
}

.footer-right-payment-options {
    margin: 40px 0 0 0;
}

.footer-socials {
    margin: 23px 20px 0 10px;
}
